/*
Luke Harby
slackwise LTD
https://slackwise.org.uk
2012 - present
*/

/* response */
.desktopHidden {
    display: none;
}

.desktopVisible {
    display: block;
}

[class^="el"] {
    position: relative;
    float: left;
    width: 100%;
}

.el-1 {
    width:8.33333333%;
}

.el-2 {
    width:16.66666667%;
}

.el-3 {
    width:25%;
}

.el-4 {
    width:33.33333333%;
}

.el-5 {
    width:41.66666667%;
}

.el-6 {
    width:50%
}

.el-7 {
    width:58.33333333%;
}

.el-8 {
    width:66.66666667%;
}

.el-9 {
    width:75%;
}

.el-10 {
    width:83.33333333%;
}

.el-11 {
    width:91.66666667%;
}

@include tablet($tablet-size) {

    [class^="el"] {
        float:none;
        width:100%;
    }

    .mobileHidden,
    .mobileVisible {
        display: block;
    }

    .desktopHidden,
    .desktopVisible {
        display: none;
    }
}
